.react-head {
    display: flex;
    justify-content: space-between;
    background-color: navy;
    border-style: solid;
}

.react-logo {
    width: 55px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list-item {
    margin-left: 10px;
    font-size: 1.1rem;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    border-style: solid;
    background-color: navajowhite;
}

.content h1 {
    color: navy;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-list {
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Ensure the list remains vertical */
    align-items: center; /* Center the list items horizontally */
    justify-content: center; /* Optional: Align content vertically if needed */
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

