body {
    margin: 0;
    font-family: 'Inter', 'Sans-Serif';
}

.nav-bar-head {
    background-color: rgba(33, 34, 42, 1);
    height: 90px;
    padding: 30px 25px;
}

.nav-bar-navigation {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-bar-img {
    width: 32px;
}

.nav-bar-title {
    color: rgba(97, 218, 251, 1);
    margin-left: 8px;
    
    font-weight: 700;
    font-size: 1.8rem;
}

.main {
    background-color: rgba(40, 45, 53, 1);
    border-style: solid;
    
}

.main-header, .main-list {
    color: rgba(255, 255, 255, 1);
}

.main-header {
    font-weight: 700;
    font-size: 2.4rem;
    margin-left: 28px;
    height: 40px;
}

.main-list {
    font-weight: 400;
    font-size: 1rem;
    margin-left: 52px;
}

.main-list li {
    margin: 16px;
}

