.nav-bar-head {
    background-color: rgba(33, 34, 42, 1);
    border-style: solid;
}

.nav-bar-navigation {
    display: flex;
}

.nav-bar-img {
    margin-left: 16px;
    width: 32px;
}

.nav-bar-title {
    color: rgba(97, 218, 251, 1);
    margin-left: 8px;
    font-family: 'Inter';
    font-weight: 700;
}

